<h1>New Artist Form</h1><br><br>
<%=form_for @artist do |f| %>

Artist Name:<%= f.text_field :name %><br><br>
Artist Bio:<%= f.text_field :bio %><br><br>
<%= f.submit "Create Artist" %><br><br>
<% end %>
<%= button_to "Cancel", artists_path, method: "get" %>
