<%= form_for(@song) do |f| %>
    <label>Name:</label><br>
    <%= f.text_field :name %><br>

    <label>Bio:</label><br>
    <%= f.text_field :artist_id %><br>

    <label>Bio:</label><br>
    <%= f.text_field :artist_id %><br>

    <%= f.submit "Create song" %>
<% end %>